@font-face {
    font-family: 'Gang of three';
    src: url('../media/letra1.ttf');
}
body{
    background-color: #181a1b;
}
#cont{
    /*max-width: 1080px;*/
    /*width: 100%;*/
    /*height: 100%;*/
    display: flex;
    flex-wrap: wrap;
}
.section1:first-child{
    position: relative;
    background-color:cadetblue;
    /*border: 1px solid;*/
    margin: 3px;
    border-radius: 8px;
    height: 313px;
    width: 40%;
    display:flex;
    flex-grow:1;
    justify-content:center;
    align-items: center;
    overflow: hidden;

}
.fil{
    max-width: 1080px;
    width: 100%;
    /*margin: 0 auto;*/
    display: flex;
}
.column{
    max-width: 500px;
    height: 100px;
    width: 16%;
    /*padding: 1px;*/
    box-sizing:border-box;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;

}
.col {
    max-width: 500px;
    margin: 3px;
    height: 100px;
    width: 16%;
    background-color: #7b223b;
    /*padding: 5px;*/
    border: 3px solid #551829;
    box-sizing:border-box;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gang of three';
    color: #e8e6e3;
    overflow: hidden;

}

.video{
    height: 100%;
    width: fit-content;
    position: absolute;
    /*top: 0;*/
    /*right: 0;*/
    /*trastear con la posicion del video para que quede alineado*/
}
.text-overlay{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
    color: #e8e6e3; /* Text color */
    padding: 10px;
    border-radius: 5px;
    font-size: 20px; /* Full width */
    font-family: 'Gang of three';
    text-align: center;

}

.carta{
    margin: 3px;
    width: 67%;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color:#e8e6e3
}

.text{
    margin-top: 230px; /* Espacio entre techo de la web y el texto.
    Necesitamos que el techo sea el bottom de section1 y de los col 
    pero no tengo ni idea de como hacerlo, haz lo tuyo Rodrigo*/
    padding: 10px;
    background-color: #181a1b; 
    border-radius: 5px;
    font-size: 13px;
    text-align: left; /* Alinear el texto a la izquierda */
}


